@import "./task.css";
@import "./articles.css";
@import "./modal.css";

@import "kurtStyles.css";
@import "events.css";

/* trial style */
:root {
    --primary-color: #F06543;
    --white-text:  #E8E9EB;
    --black-text: #313638;
    --orange-accent: #F09D51;
    --fierce-red: rgb(66,103,178);
    --fierce-red-opactiy: rgba(66,103,178, 0.6);
    --gold: #FCAB10;
    --brown: #C69C72;
}
body, html{
    margin:0;
    padding:0;
}
body {
    
    background-color: var(--white-text);
}
nav {
    background-color: var(--fierce-red);
    min-height: 100px;
    max-height: fit-content;	
    display: flex !important;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.buttons {
    margin: 3px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.navButton {
    height: 20%;
    align-self: flex-end;
    color: white!important;
  
} 
.navBar {
    background-color: var(--fierce-red)!important;
    border: none !important;
}


/* end of trial style */
/* .navButton {
    float: right;
    margin-left: 5px;
} */

.heading {
    margin-bottom: 20px;
    margin-right: -20px;
    font-size: 75px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-right: 20%!important;
}


    /* font-size: x-large;
} */

#body-container {
    display: flex;
    justify-content: space-between;
}


#container {
    width: 90%;
}

#sidebar-button-container {
    /* border: 7px solid red; */
    width:40px;
    /* overflow: hidden; */
    /* justify-self: end; */
}

#small-nav {
    display: none;
}
#big-nav {
    display: flex;
}

/* .hidden-item {
    display: none;
} */

@media screen and (max-width: 767px) {
    .navButton {

        color: rgb(66,103,178)!important;
      
    } 
    #container {
        width: 100%;
        margin: auto;
    }
    #small-nav {
        display: flex;
    }
    #big-nav {
        display: none;
    }
}