@import "./task.css";
@import "./articles.css";
@import "./modal.css";

@import "kurtStyles.css";
@import "events.css";

/* trial style */
:root {
    --primary-color: #F06543;
    --white-text:  #E8E9EB;
    --black-text: #313638;
    --orange-accent: #F09D51;
    --fierce-red: #F8333C;
    --fierce-red-opactiy: rgba(248,51,60,0.8);;
    --gold: #FCAB10;
}
* {
    margin: 0;

}
body {
    background-color: var(--white-text);
}
nav {
    background-color: var(--fierce-red);
    min-height: 100px;
    max-height: fit-content;	
    display: flex !important;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.buttons {
    margin: 3px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.button-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.navButton {
    text-align: center;
    width: 62px;
    padding: 4px;
    margin-left: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    background-color: var(--white-text);
    color: var(--fierce-red);
    border-radius: 5%;
    transition: 0.3s ease;
    margin-bottom: 4px;
}
.navButton:hover {
    color: var(--white-text);
    background-color: #9e1927;
    transition: 0.3s ease ;
    border: 1px solid white;
}
button {
    font-family: 'Rubik', sans-serif;
}

/* end of trial style */
/* .navButton {
    float: right;
    margin-left: 5px;
} */

.heading {
    margin-bottom: 20px;
    margin-right: -20px;
    font-size: 75px;
    font-family: 'Rubik', sans-serif;
    color: white;
}


    /* font-size: x-large;
} */


