@import './task.css';
@import './articles.css';
@import './modal.css';

@import 'kurtStyles.css';
@import 'events.css';

/* trial style */
:root {
	--primary-color: #f06543;
	--white-text: #e8e9eb;
	--black-text: #313638;
	--orange-accent: #f09d51;
	--fierce-red: rgb(66, 103, 178);
	--fierce-red-opactiy: rgba(66, 103, 178, 0.6);
	--gold: #fcab10;
	--brown: #c69c72;
}
body,
html {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--white-text);
}
nav {
	background-color: var(--fierce-red);
	min-height: 100px;
	max-height: fit-content;
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.buttons {
	margin: 3px 10px 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.navButton {
	height: 20%;
	align-self: flex-end;
	color: white !important;
}
.navBar {
	background-color: var(--fierce-red) !important;
	border: none !important;
}

/* end of trial style */

.heading {
	margin-bottom: 20px;
	margin-right: -20px;
	font-size: 75px;
	font-family: 'Rubik', sans-serif;
	color: white;
	margin-right: 20% !important;
}



#body-container {
	display: flex;
	justify-content: space-between;
	background-attachment: fixed;
	background-size: cover;
	height: 88vh;
}

#container {
	width: 95%;
}

#sidebar-button-container {
	z-index: 99;
	width: 40px;
}

#small-nav {
    display: none;
    color: #e8e9eb;
}
#big-nav {
	display: flex;
}

#nav-drop-text{
margin: 10px;
}

#welcome-message {
    background-color: var(--fierce-red-opactiy);
    box-shadow: 0px -5px 61px 26px rgba(0,0,0,.1);
	z-index: 99;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: #e8e9eb;
}

@media screen and (max-width: 767px) {
	.navButton {
		color: rgb(66, 103, 178) !important;
	}
	#container {
		width: 100%;
		margin: auto;
	}
	#small-nav {
		display: flex;
	}
	#big-nav {
		display: none;
	}
}
