/* Author: Trinity Terry */
/* Purpose: Task Sidebar Style Sheet */

.tasks {
    display: flex !important;
    flex-direction: row;
}

.circle.icon, .delete-task{
    width: 10%;
}

.task-text {
    width:80%;
    word-wrap: break-word;
}

#sidebar-button-div {
    display: flex;
}
.sidebar-top-item {
    margin: 10px !important;
}
#sidebar-button {
    width: 180px;
    transform: translate(-158px, -21px) rotate(-90deg);
    transform-origin: right;
    position: sticky;
    top: 10px;
    

}

#task-date-input {
    width: 100%;
}

.task-item {
width: 100%;
}

.task-icons {
    display: flex;
}